.hero,.header,.maincontent,.relatedimages,.footer,.relatedposts,.extracontent,.sidebar{
    text-align: center;
    padding: 10px;
    color: white;
    font-style: calc();
    
}

.grid-container{
    width: 340px;
    height: 400px;
    padding: 10px 40px ;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
    margin: 20px auto;
    display: grid;
    gap: 3px;
    /* background-color: rgb(151, 90, 198); */
}
.items{
    border: 1px solid white
}
.header{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1/4;
    background-color: aqua;
    gap: 2px;
}
.hero{
    
    
    grid-column: 1/2;
    background-color:rgb(228, 175, 228) 
}
.maincontent{
    grid-column: 2/4;
    grid-row: 2/4;
    background-color: rgb(227, 227, 8);
}
.sidebar{
    grid-row: 3/5;
    background-color: rgb(69, 129, 9);
}
.extracontent{
    grid-column: 2/4;
    background-color: rgba(135, 125, 125, 0.926);
}
.relatedimages{
    grid-column: 1/3;
    background-color: rgba(29, 176, 6, 0.874);
}
.footer{
    grid-column: 1/4;
    background-color: rgb(222, 143, 8);
}
.relatedposts{
    background-color: pink;
}

